<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>FreshAir</h1>
      <h2>Cheapest trip for next week-end</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="trips-card">
        <div class="trips-card-head">
          <h3><%= Airport.find_by(iata: @flight['destination']).city.name %></h3>
          <div class="total-price">
            <%= @flight['airbnb']['1'].to_i + @flight['price'].to_i %>&euro;
          </div>
        </div>
        <div class="trips-card-content">
          <div class="flight-section">
            <div class="flight-details">
              <div>
                <h4><%= params[:iata_code] %></h4>
                <p><small>Current location</small></p>
                <%= @flight['departure_date'].to_date.strftime('%A %m %b') %>
              </div>
              <div class="logo" style='background-image: url(<%= image_url 'freshair_icon' %>)'>
              </div>
              <div>
                <h4><%= @flight['destination'] %></h4>
                <p><small>weekend location</small></p>
                <%= @flight['return_date'].to_date.strftime('%A %m %b') %>
              </div>
            </div>
            <div class="flight-price">
              <%= @flight['price'].to_i %>&euro;
              <div class="btn btn-success">Book now</div>
            </div>
          </div>
          <div class="housing-section">
              <div class="housing-details">
                <div style="flex: 1">
                  <%= (params[:people]) %><%= '1 people' if params[:people].nil? %>
                </div>
                <div class="logo" style='flex: 1; background-image: url(<%= image_url 'airbnb' %>)'></div>
                <div style="flex: 1">
                  Entire Home rental<br />
                  <small>Prices updated</small>
                </div>
              </div>
              <div class="housing-price">
                <%= @flight['airbnb']['1'].to_i %>&euro;
                <div class="btn btn-success">Book now</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
