<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= link_to root_path do %>
        <h1>FreshAir</h1>
      <% end %>
      <h2>Cheapest trip for next week-end</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% if @flights %>
        <% count = 0 %>
        <% @flights.each do |flight| %>
        <% count += 1 %>
        <div class="trips-card bg-white inactive" id="flight-<%= count %>" %>
          <div class="trips-card-head">
            <div class="title-section">
              <h3><%= Airport.find_by(iata: flight['destination']).city.name %></h3>
              <div class="weather-details">
                <ul class="forecast">
                  <% @weather[flight['destination']].each do |key, value| %>
                    <li title="<%= value['weather'][0]['description'] %>" style="width: <%= 100 / @weather[flight['destination']].size %>%">
                      <div class="icon"
                           style="background-image: url('<%= weather_icon(value['weather'][0]['icon']) %>')">
                      </div>
                      <h4>
                        <%= value['temp']['day'].round %>°
                      </h4>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="trips-card-content">
            <div class="flight-section">
              <div class="flight-details">
                <div>
                  <h4><%= params[:iata] %></h4>
                  <p><small><%= t('.departure_date', default: 'leaving on') %></small></p>
                  <p><%= flight['departure_date'].to_date.strftime('%a %d %b') %></p>
                </div>
                <div class="logo" style='background-image: url(<%= asset_path 'freshair_icon' %>)'>
                </div>
                <div>
                  <h4><%= flight['destination'] %></h4>
                  <p><small><%= t('.return_date', default: 'returning on') %></small></p>
                  <p><%= flight['return_date'].to_date.strftime('%a %d %b') %></p>
                </div>
              </div>
              <div class="flight-price">
                <span><%= flight['price'].to_i %>&euro;</span>
                <div class="btn btn-success" target="_blank">Book <span>now</span></div>
              </div>
            </div>
            <div class="housing-section">
              <div class="housing-details">
                <div>
                  <small>Guests</small><br />
                  <%= params[:people].to_s + ' people' %>
                </div>
                <div class="logo" style='background-image: url(<%= asset_path 'airbnb' %>)'></div>
                <div>
                  <small>Type</small><br />
                  <%= t('.entire_home') %>
                </div>
              </div>
              <div class="housing-price">
                <span><%= flight['airbnb'][params[:people]].to_i * params[:days].to_i %>&euro;</span>
                <a class="btn btn-success"
                   href="https://www.airbnb.fr/s/<%= "#{Airport.find_by(iata: flight['destination']).city.clean_to_str}" %>?adults=<%= params[:people] %>&checkin=<%= flight["departure_date"].to_date.strftime('%d/%m/%Y') %>&checkout=<%= flight["return_date"].to_date.strftime('%d/%m/%Y') %>&room_types%5B%5D=Entire%20home%2Fapt" target="_blank">Book <span>now</span></a>
              </div>
            </div>
          </div>
          <div class="trips-card-footer">
            <div class="total-section">
             <!--  <div class="share-trip">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </div> -->
              <h4>Total <small>pour <%= params[:days].to_i + 1 %> jours</small></h4>
              <div class="total-price">
                <%= (flight['airbnb'][params[:people]].to_i * params[:days].to_i) + flight['price'].to_i %>&euro;<small>/pers</small>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <p class="more-result">
          <%= link_to '#flight-2', id: 'more-flights' do %>
             <i class="fa fa-angle-down" aria-hidden="true"></i>&nbsp;
             Get more results&nbsp;
             <i class="fa fa-angle-down" aria-hidden="true"></i>
          <% end %>
        </p>
      <% else %>
        <p><%= t('.no_result') %></p>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $('.trips-card.inactive:first-child').removeClass('inactive');

    $('#more-flights').on( "click", function() {
      $('.trips-card.inactive').first().removeClass('inactive');
      $('html, body').animate({
        scrollTop: $(  $(this).attr('href') ).offset().top
      }, 500);
      $('#more-flights').attr( 'href', '#' + $('.trips-card.inactive').first().attr('id'));
    });
  </script>
<% end %>
