<p>Résultats depuis : <%= params[:iata_code] %><p>
<ul>
  <% @result['results'].each do |result| %>
    <li>
      <%= result['destination'] %><br />
      <%= result['departure_date'] %><br />
      <%= result['return_date'] %><br />
      <%= result['airline'] %><br />
      <%= result['price'] + '€' %>
    </li>
  <% end %>
</ul>
