<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= link_to root_path do %>
        <h1>FreshAir</h1>
      <% end %>
      <h2>Cheapest trip for next week-end</h2>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="trips-card">
        <%= form_tag('trips', id: 'trips-index', method: 'get') do %>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <%= label_tag(:iata_code, "Leaving from", style: 'display: none;') %>
                <%= select_tag(:iata_code, options_for_select(AmadeusService.list_origins('EUR', 'GBP').values.flatten.map!{ |ap| [Airport.find_by(iata: ap).city.name, ap] }), prompt: 'Leaving from', class: 'form-control' ) %>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <%= label_tag(:departure_date, "Leaving on") %>
                <%= select_tag(:departure_date, options_for_select(@dates.map { |date| [date.strftime('%A %d %B'), date] }), class: 'form-control', prompt: 'Departure day' ) %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <%= label_tag(:duration, "Days") %>
                <%= select_tag(:duration,
                    options_for_select(Scraper::DURATIONS.map { |d| [(d + 1).to_s + ' days', d] }),
                    class: 'form-control', prompt: 'Days') %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="form-group">
                <%= label_tag(:people, "People") %>
                <%= select_tag(:people, options_for_select(Scraper::PEOPLE.map { |d| [d.to_s + ' people', d] }), class: 'form-control', prompt: 'People') %>
              </div>
            </div>
            <div class="col-xs-12">
              <%= submit_tag("Let's get some Freshair", class: 'btn btn-success btn-block') %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do  %>
  <script>
    $('form').submit(function(e){
      $('form select').val(function(i, val){
        if (val.length <= 0){
          $( this ).children( "option:first-child" ).text( "<%= t('.missing_field') %>" );
          $( this ).parent( ".form-group" ).addClass( 'has-error' );
        };
      });
      return false
    });
  </script>
<% end %>
